@{
    if (Session["Usuario"] != null){
    switch (Session["Usuario"].ToString().Trim())
  {
      case "":
      case "0":
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Ingresar", "Login", "Alumnos")</li>
           break;
      case "Admin":
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Administración de Alumnos", "Index", "Alumnos")</li>
            <li>@Html.ActionLink("Administración de Cursos", "Index", "Cursos")</li>
            <li>@Html.ActionLink("Ver Cursos", "Ver", "Cursos")</li>
           break;
      default:
           <li>@Html.ActionLink("Home", "Index", "Home")</li>
           <li>@Html.ActionLink("Ver Cursos", "Ver", "Cursos")</li>
          break;
  }
    }
    else
    {
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Ingresar", "Login", "Alumnos")</li>
  }
}