@model IEnumerable<Sao.Models.Cursos>

@{
    ViewBag.Title = "Index";
}

@section head {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        function Mostrar(id) {
            $("#" + id).toggle('slow');
        }
</script>
}

<h3>@ViewBag.Message</h3>

<h1 style="color: #5C87BD">CURSOS</h1>
@if (Model.Count() == 0) { 
    <p class="Error">Lo sentimos. No hay cursos para mostrar.</p>
}
@foreach (var curso in Model){
    <h2 onclick="Mostrar(@curso.Id)" style="cursor:pointer;">@curso.Nombre</h2>
    <div id="@curso.Id" style="max-width: 800px; display: none;">

    @try
    {
        var path = Server.MapPath("~/ArchivosCursos/" + curso.Id + "/");
        var files = Directory.GetFiles(path);
        if (files.Count() > 0)
        {
            int cantidad = 0;
            foreach (var f in files)
            {
                cantidad++;
                string archivo = f.Split('\\').Last();
                string nombre = archivo.Split('.').First();
                string extension = archivo.Split('.').Last().ToLower();
                  <div style="float:left; margin: 5px;">
                  <a href="@Url.Content("~/ArchivosCursos/" + curso.Id + "/" + archivo)" target="_blank" style="text-decoration: none;">
                    @if (System.IO.File.Exists(Request.MapPath("~/Imagenes/Archivos/" + extension + ".png")))
                    {
                        <img width="150" height="150" src="@Url.Content("~/Imagenes/Archivos/" + extension + ".png")" alt="" />
                    }
                    else
                    {
                        string imagen = "";
                        switch (extension)
                        {
                            case "zip":
                            case "7z":
                                imagen = "box";
                                break;
                            case "docx":
                                imagen = "doc";
                                break;
                            case "pptx":
                                imagen = "ppt";
                                break;
                            case "xlsx":
                                imagen = "xls";
                                break;
                            default:
                                imagen = "otro";
                                break;
                        }
                        string pathimagen = "../../Imagenes/Archivos/" + imagen + ".png";
                        <img src="@pathimagen" alt="" "150" height="150"/>
                                     
                    }
                    <br /><span style="margin-left: 10px;">@nombre</span></a>
                    </div>
            }
        } else {
                <p>No hay archivos para descargar</p>
        }
        
    }
    catch
    {
            <p>No hay archivos para descargar</p>
    }
     
   </div>
   <div style="clear:both;"></div>
    
}

