@model Sao.Models.Alumnos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Alumnos</legend>

    <div class="display-label">DNI</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DNI)
    </div>

    <div class="display-label">Clave</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clave)
    </div>

    <div class="display-label">FechaIngreso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaIngreso)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
